body {
      background: #ededed;
      padding: 20px;
}

.container {
      width: 1000px;
      background: #fff;
      padding: 20px;
      font-size: 30px;
      margin: auto;
      display: flex;
      flex-direction: row;
      /*flex-direction: row-reverse;*/
      /*flex-direction: column;*/
      /*flex-direction: column-reverse;*/
      /*flex-wrap: nowrap;*/
      /*flex-wrap: wrap;*/
      /*flex-wrap: wrap-reverse;*/
      /* Instead of using both flex-direction and flex-wrap, can simplify to flex-flow */
      flex-flow: row wrap;
      /*justify-content: flex-start;*/
      /*justify-content: flex-end;*/
      /*justify-content: center;*/
      /*height: 500px;*/
      /*justify-content: space-between;*/
      /*justify-content: space-around;*/
      /* align-self: ; Aligns items vertically */
      /* Aligns items w/ align-self to center */
      /*align-self: center;*/
      /*Aligns items to top left*/
      /*align-self: flex-start;*/
      /*Aligns items to bottom left*/
      /*align-self: flex-end;*/
      /*Aligns items to fill the container*/
      /*align-items: stretch;*/
      /*Aligns items so that their baseline aligns, no matter their size*/
      align-items: baseline;
}

.items {
      /*width: 300px;
      height: 200px;*/
}

.item1 {
      background-color: #0ff;
}

.item2 {
      background-color: #f0f;
}

.item3 {
      background-color: #a11;
}

.item4 {
      background-color: #11a;
}

.item5 {
      background-color: #1a1;
}

.item6 {
      background-color: #aaa;
}
