.box {
      background-color: #696969;
      width: 100px;
      height: 100px;
      margin: 150px;
      border: 2px solid #000;
}

.translate:hover {
      /* On hover, box moves 80px on x axis and 30px on y axis */
      /*Translate lets you move elements left, right, up and down from it's starting/current position*/
      transform: translate(80px, 30px);
}
.rotate:hover {
      /*The rotate method rotates an element clockwise or counter-clockwise according to a given degree*/
      /*transform: rotate(120deg);*/
      transform: rotate(-80deg);
}
.scale:hover {
      /*The scale method decreases or increases the size of an element according to the parameters given for the width and the height*/
      /*transform: scale(4,2);*/
      transform: scale(0.5,0.5);
}
.skew:hover {
      /*The skew method skews an element along the X and Y-Axis by the given angles*/
      /*transform: skew(30deg, 40deg);*/
      /*transform: skew(-30deg, 20deg);*/
      transform: skew(30deg);
}
